version: '3'
services:
  db:
    image: mariadb:10.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    ports:
      - 3306:3306
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: archive
      MARIADB_USER: user
      MARIADB_PASSWORD: password
    tmpfs:
      - /tmp
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
    tmpfs:
      - /tmp
      - /run
